.jumbotron {
    background-color: crimson;
    color: white;
}

.btn-primary{
    background-color: blue;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: cadetblue;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-producto{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
}